  <%- include('partials/_header') %>
    <main>
      <div class="card text-center">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %>
          </h5>
          <p class="card-text">Short URL: <a href="/u/<%= shortURL %>">
              <%= shortURL %>
            </a></p>
        </div>
        <div class="card-footer text-muted">
          <h3 class="card-title">Edit</h3>
          <form class="form-inline d-flex justify-content-center" action="/urls/<%= shortURL%>" method="POST">
            <div class="form-group">
              <label for="showURL">New URL:</label>
              <input id="showURL" class="form-control" type="text" name="longURL" placeholder="http://"
                style="width: 300px; margin: 1em">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    
    <%- include('partials/_bootstrap_scripts') %>

</body>
</html>